.sider
  min-height 100vh
  box-shadow 2px 0 6px rgba(0,21,41,.35)
  .title
    display flex
    align-items center
    color #fff
    height 64px
    padding-left 8px
    .title-word
      font-size 20px
      font-weight 700
      margin-left 5px
      cursor default
    .logo
      width 64px
      height @width
      background url("../assets/image/logo.svg")center center no-repeat
.header
  box-shadow 0 1px 4px rgba(0,21,41,.08)
  position relative
  .trigger
    font-size 18px
    line-height 64px
    padding 0 24px
    cursor pointer
    transition color .3s
  .trigger:hover
    color #1890ff
    background-color #e6f7ff
  .logo
    height 32px
    background rgba(255,255,255,.2)
    margin 16px
