.description
  position relative
  overflow hidden
  text-overflow ellipsis
  display -webkit-box
  -webkit-line-clamp 3
  -webkit-box-orient vertical
  height 64px
  width 100%
  word-break break-all
